.App {
  text-align: center;
  background-color: #fff  ;
  min-height: 100vh;
}

button{
  background-color: greenyellow;
  border-radius: 60px;
}

h2{
  color: gold;
}

h1{
  color: green;
  text-align: center;
}

.incButton:hover{
  background-color: green;
}

.decButton:hover{
  background-color: red;
}